.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    img {
        width: 30px;
        height: 30px;
        margin: 0px 25px;
    }
    span {
        margin-top: -6px;
        width: 70px;
        height: 2px;
    }
}